body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.contenedorOne{
    padding: 18px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    border-radius: 10px;
}

.contenedorOne h2{
    color: rgb(244, 244, 244);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 3px;
}

.contenedor{
    display: flex;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.inicio{
    padding: 10PX;
    background-color: rgb(255, 255, 255);
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
    background-color: blanchedalmond;
    padding: 7px;
    border-radius: 20px;
}

.link:hover{
    background-color: black;
    color: aliceblue;
}

button{
    border-radius: 20px;
    padding: 10px;
}