body{
    margin: 0px;
    overflow-x: hidden;
}

:root{
    --verde-principal: #b7b7b7;
    --verde-oscuro: #f9f9f9;
    --beige: #000000;
}


.introduccion img{
    width: 300px;
}

.cerrar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttonCerrar{
    color: white;
    background-color: #000000;
}

.buttonCerrar:hover{
    background-color: black;

}

.santostitulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    background: linear-gradient(
        to bottom,
        var(--verde-principal),
        var(--verde-oscuro)
    );
    padding: 80px 20px;
    color: var(--blanco);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0px 20px;
}

.header p{
    font-size: 26px;
    font-family: Georgia, serif;
    margin-bottom: 30px;
    color: var(--beige);
}


.santostitulo {
    text-align: center;
    font-size: 20px;
}

.menu {
    justify-self: end;
    font-size: 24px;
    cursor: pointer;
}

.vidaSantos p{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.contenedorInicio{
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 40px;
    color: #000000;
}

.inicio{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.introduccion{
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */
}

.introduccion p{
    color: black;
}

.vidaSantos p{
    color: black;
}

.caja {
    color: white;
    text-align: center;
    align-content: center;
    font-size: 130px;
    line-height: 1;
}

.contenedor-santos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.contenedor-santos img{
    margin: 16px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    max-width: 100%;
    width: 200px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.contenedor-santos a{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    border-radius: 20px;
    padding: 7px;
}

.contenedor-santos a:hover{
    background-color: aliceblue;
    color: black;
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background:#d5d5d5;
    padding: 20px;
    transition: right 0.3s ease;
}

.menu-lateral.abierto {
    right: 0;
}

.menu-lateral a {
    margin-top: 20px;
    display: block;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
}

.menu-lateral {
    right: -300px;
}

.menu-lateral a:hover{
    background-color: black;
    color: aliceblue;
}

.raya{
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    border-radius: 5px;
}

@media (max-width: 990px) {
    
    .introduccion p{
        display: none;
    }

    .vidaSantos p{
        color: black;
    }
}