body {
    min-height: 100vh;
    margin: 0;
    background-color: #f5f1e8;
}

.contenedor-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form{
    background-color: rgb(209, 209, 209);
    padding: 30px;
    display: grid;
    width: 50%;
    border-radius: 20px;
}
 
#form-contacto {
    width: 300px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 0;
}

.name{
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    border: 2.5px solid black;
}

.email{
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2.5px solid black;
    border-radius: 30px;
}

.mensaje{
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2.5px solid black;
    border-radius: 30px;
}

.boton{
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2.5px solid black;
    border-radius: 30px;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio a{
    width: 100px;
    border: 3px solid black;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(245, 227, 204);
}

.inicio a:hover{
    background-color: black;
    color: wheat;
}