.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.informacion{
    width: 50%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
}

.imagenToribio img{
    width: 400px;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.9);
}

.informacion h1{
    letter-spacing: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.informacion h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.informacion button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.informacion button:nth-child(n+2){
    margin-left: 10px;
    margin-top: 10px;
}
.informacion button:hover{
    background-color: white;
    color: black;
}

.miniDescripcion{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.division{
    border-radius: 20px;
    width: 700px;
    height: 4px;
    background-color:  rgba(0, 0, 0, 0.2);
}

@media (max-width: 990px) {
    .contenedor {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .division{
        width: 250px;
        max-width: 10 0%;
    }

    .informacion {
        max-width: 90%;
    }

    .division{
        margin: 0;
    }
}
