body{
    background-color: #ffffff;
    margin: 0;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    height: 100%;
}

.titulo{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 4PX;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.martindiv img{
    width: 430px;
    max-width: 430px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.9);
}

.martindiv p{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.conjunto{
    width: 50%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
}

.conjunto button{
    color: rgb(255, 254, 254);
    padding: 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 30px;
}

.conjunto button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.buttons button:nth-child(n+2){
    margin-left: 20px;
}

.vacio{
    width: 330px;
    height: 5px;
    border-radius: 20px;
    background-color: black;
}

@media (max-width: 990px) {
    .contenedor {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .martindiv img{
        width: 400px;
    }
    .conjunto{
        width: 70%;
        max-width: 600px;
    }
}

.profesionAll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    border-radius: 30px;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    background-color: #ffffff;
}

.container p{
    font-size: 20px;
}

.vacioProfesion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4px;
    background-color: black;
}

.titulos{
    font-size: 30px;
}

.tarjeta{
    font-size: 16px;
    background-color: black;
    color: white;
    margin: 7px;
    padding: 10px;
    border-radius: 10px;
}

.container button{
    margin-bottom: 40px;
}

.nada{
    display: none;
}

.contendedorFamilia{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoFamilia{
    margin: 0 20px 0 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}

.nadaFamilia{
    display: none;
}

.contenMilagros{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoMilagros{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.nadaMilagros{
    display: none;
}