body{
    margin: 0;
    background-color: rgb(248, 177, 255);
}

.contenedorSecundarioBiografia{
    text-align: center;
    padding: 20px;
    background-color: rgb(248, 177, 255);
}

.contenedorSecundarioBiografia h2{
    text-align: center;
    background-color: antiquewhite;
    margin: 40px;
    border-radius: 20px;
    padding: 15px;
}

.contenedorPrincipalBiografia{
    padding: 30px;
    background-color: blanchedalmond;
    display: flex;
    margin: 20px;
    border-radius: 20px;
}

.contenedorSecundarioBiografia img{
    border-radius: 20px;
    width: 200px;
}

.contenedorPrincipalBiografia p{
    margin: 18px;
}

.botoms{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: antiquewhite;
}

.botoms button{
    margin-left: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: bisque;
}

.contenedor{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.vacio{
    display: none;
}

.familiaRosa{
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 20px;
}

/*Profecion*/

.profecion{
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profecionInfo{
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.vacioProfecion{
    display: none;
}

/*Milagros*/

.milagro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.milagrosInfo{
    background-color: white;
    margin: 60px;
    padding: 20px;
    border-radius: 20px;
}

.vacioMilagro{
    display: none;
}