body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

*{
    box-sizing: border-box;
}


.InicioBotones{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 40px; /* 🔴 ESTO */
    width: 100%;
}

.InicioBotones h2{
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.InicioBotones button{
    margin-left: 60px;
    border: none;
    background-color: #f4f4f4;
    font-size: 15px;
    height: 40px;
    margin-top: 15px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.InicioBotones button:hover{
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.3); /*Se le da una sombra al contendedor imagen etc*/
    cursor: pointer;
}

.butonHamburguesa{
    display: none;
    justify-self: end;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}

.butonHamburguesa button{
    font-size: 26px;
    padding: 8px;
    background: none;
    border: none;
}

.butonHamburguesa button:hover{
    transform: scale(1.1);
}

.butonHamburguesa{
    justify-self: end;
    
}

.contactos{
    background-color: #000 !important;
    color: white;
    border: none;  
    border-radius: 40px !important;
    padding: 20px !important;
}

.contactos:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}


.contendedorPrincipal{
    position: relative;
    margin: 12px 50px 0 50px;
    border-radius: 20px;
    height: 700px;
    color: white;
    padding: 40px;
    overflow: hidden;
}

.videoFondo{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.contendedorPrincipal::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}

.contenido{
    position: relative;
    z-index: 1;
}

.contendedorPrincipal > div:first-child{ /*Esto al primer div del class le da estos valores*/
    max-width: 500px;
}


.contendedorPrincipal h1{
    margin-top: 80px;
    font-size: 60px;
}

.presentacion{
    flex-direction: column;
    gap: 20px;
}

.presentacionLarga{
    font-size: 25px;
}

.marcaDeAgua{
    display: flex;
    text-align: right;
}

.contenedorMiniBaner{
    position: absolute; /* 🔴 CLAVE */
    right: 50px;
    bottom: 40px;
}


.imgMini{
    width: 300px;
    padding: 30px;
    border-radius: 16px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(4.5px); /*Hace que el fondo sea mas borroso*/
    display: flex;
    gap: 12px;
    align-items: center;
}

.imgMini img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.infoMini p{
    margin: 0;
    font-size: 17px;
}

.infoMini button{
    font-family:monospace;
    margin-top: 8px;
    border: none;
    padding: 8px 25px 8px 25px;
    border-radius: 20px;
    cursor: pointer;
}


@media (max-width: 1100px){

    .menu{
        display: none;
    }

    .butonHamburguesa{
        display: block;
    }
}

.banerDeslizante{
    background-color: #ffffff;
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 10px 0 0 70px;
}

.cerrarbutton{
    width: 100%;
}

.cerrarbutton button:first-child{
    background-color: rgb(0, 0, 0) !important;
    color: white;
    border: none;
    width: 50px;
    margin: 45px;
    margin-right: 28px;
}

.cerrarbutton button:hover{
    transform: scale(1.1);
}


.banerDeslizante button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: auto;
}

.nada{
    display: none;
}

.contenedorDeBotones{
    width: 100%;
    height: 100%;
}

.contenedorDeBotones button{
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.contenedorDeBotones button:hover{
    transform: scale(1.1);
}

.colaboraciones{
    margin-top: 50px;
}

.colaboraciones ul{
    font-size: 20px;
}

.tiempoDeColaboraciones{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    justify-items: center;
}


.marca{
    background: white;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 22px;
    text-align: center;
}


@media (max-width: 768px){
  .marcas{
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 20px;
    max-width: 100%;
    scroll-snap-type: x mandatory;
  }

  .marca{
    flex: 0 0 auto;
    min-width: 140px;
    scroll-snap-align: start;
  }

  .marcas::-webkit-scrollbar{
    display: none;
  }
}

.contendedorDeSeguidores{
    margin-top: 80px;
}

.redes div{
    background-color: #ffffff;
}

.img img{
    margin-left: 70px;
    width: 450px;
    height: 500px;
    border-radius: 30px;
    margin-right: 80px;
}

.introduccionRedes{
    text-align: center;
    font-size: 30px;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.numeros{
    display: flex;
}

.contenedorNumeros{
    padding: 40px;
    margin: 20px;
    border-radius: 30px;
}

.contenedorNumeros h3{
    font-size: 31px;
}

.contenedorNumeros p{
    opacity: 0.55;
    font-size: 20px;
}