body{
    margin: 0;
}

.decoracion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    height: 100%;
}

.infoFelipe h1{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 4PX;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.conjuntoImagen img{
    width: 370px;
    max-width: 430px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.9);
}

.infoFelipe{
    width: 50%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
}

.vacioEspacio{
    width: 500px;
    height: 5px;
    border-radius: 20px;
    background-color: black;
}

.infoFelipe p{
    margin: 20px 0px 20px 0;
}

.infoFelipe button{
    margin: 20px 0 0 0;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
}

.infoFelipe button:hover{
    background-color: black;
    color: azure;
}

/*Rezo*/
.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-rezo{
    background-color: aliceblue;
    color: black;
    padding: 20px;
    border-radius: 20px;
}

.oculto{
    display: none;
}

/*Profecion*/
.contenedorPorfecion{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.segundocontenedor{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 20px;
}

.vacio{
    display: none;
}

/*Familia*/
.fondogris{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.inforContenedor{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}

.nada{
    display: none;
}


@media (max-width: 990px) {
    .decoracion{
        flex-direction: column;
        text-align: center;
    }
    .vacioEspacio{
        width: 390px;
        height: 5px;
        border-radius: 20px;
        background-color: black;
    }
}

@media (max-width: 1100px) {
    .vacioEspacio{
        width: 300px;
        height: 5px;
        border-radius: 20px;
        background-color: black;
    }
}